
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/2rbJ60UbYVM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">Глаголы</div>
                <div class="panel-body">
                    <h2>Неопределенная форма глагола</h2>
                    имеет окончание -na (русская -ть).
                    Основной глагол БЫТЬ по хинди HONA.

                    <h2>Спряжение глагола БЫТЬ ( HO -na )</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="15%">Местоимение перевод</th>
                            <th width="15%">Местоимение Hindi</th>
                            <th width="15%">Спряженная форма глагола Ho-na</th>
                            <th width="30%">Фраза целиком</th>
                            <th width="25%">Перевод</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Я</td>
                            <td>Main<br>[мэ]</td>
                            <td>hun<br>[ху]</td>
                            <td>Main hun.</td>
                            <td>Я есть.</td>
                        </tr>
                        <tr>
                            <td>Ты</td>
                            <td>Tum <br> [тум]</td>
                            <td>ho <br> [хо]</td>
                            <td>Tum ho.</td>
                            <td>Ты (вы) есть.</td>

                        </tr>
                        <tr>
                            <td>Оно / Он / Она</td>
                            <td>Yeh / Von / Von<br>[е / во / во]</td>
                            <td>hai <br> [хе]</td>
                            <td>Von hai.</td>
                            <td>Оно / Он / Она есть.</td>
                        </tr>
                        <tr>
                            <td>Мы</td>
                            <td>Ham <br>[хам]</td>
                            <td>hain <br> [хэй]</td>
                            <td>Ham hain.</td>
                            <td>Мы есть.</td>
                        </tr>
                        <tr>
                            <td>Они</td>
                            <td>Ye* / ve <br> [э / вэ]</td>
                            <td>hain <br> [хэй]</td>
                            <td>Ve hain.</td>
                            <td>Они есть.</td>
                        </tr>
                        <tr>
                            <td>Вы <br> (уважительная форма)</td>
                            <td>Aap <br> [ап]</td>
                            <td>hain <br> [хэй]</td>
                            <td>Aap hain.</td>
                            <td>Вы есть.</td>
                        </tr>
                        </tbody>
                    </table>
                    <h2>Спряжение глагола на примере слова KARna (делать)</h2>
                    При спряжении глагола отбрасывается окончание неопределенной формы и прибавляется окончание в
                    зависимости от числа и рода и + глагол БЫТЬ HOna в спряженной форме (см таблицу).
                    Женский род в независимости от числа имеет окончание -TI [ти].
                    Мужской род в единственном числе -TA [та], множественном -TE [тэ]. (В Hindi Ты = Вы = множественное
                    число)

                    <h2>Схематичная таблица формирования предложения</h2>
                    <tabset>
                        <tab heading="Мужской и средний род">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th width="15%">Местоимение перевод</th>
                                    <th width="15%">Местоимение Hindi</th>
                                    <th width="15%">Спряженная форма глагола + HOna</th>
                                    <th width="30%">Фраза целиком</th>
                                    <th width="25%">Перевод</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Я</td>
                                    <td>Main<br>[мэ]</td>
                                    <td>Karta hun<br>[карта ху]</td>
                                    <td>Main karta hun.</td>
                                    <td>Я делаю.</td>
                                </tr>
                                <tr>
                                    <td>Ты</td>
                                    <td>Tum <br> [тум]</td>
                                    <td>Karte ho <br> [картэ хо]</td>
                                    <td>Tum karte ho.</td>
                                    <td>Ты (вы) делаешь / делаете.</td>

                                </tr>
                                <tr>
                                    <td>Оно / Он / Она</td>
                                    <td>Yeh / Von / Von<br>[е / во / во]</td>
                                    <td>Karta hai <br> [карта хе]</td>
                                    <td>Von karta hai.</td>
                                    <td>Оно / Он / Она делает.</td>
                                </tr>
                                <tr>
                                    <td>Мы</td>
                                    <td>Ham <br>[хам]</td>
                                    <td>Karte hain <br> [картэ хэй]</td>
                                    <td>Ham karte hain.</td>
                                    <td>Мы делаем.</td>
                                </tr>
                                <tr>
                                    <td>Они</td>
                                    <td>Ye* / ve <br> [э / вэ]</td>
                                    <td>Karte hain <br> [картэ хэй]</td>
                                    <td>Ve karte hain.</td>
                                    <td>Они делают.</td>
                                </tr>
                                <tr>
                                    <td>Вы <br> (уважительная форма)</td>
                                    <td>Aap <br> [ап]</td>
                                    <td>Karte hain <br> [картэ хэй]</td>
                                    <td>Aap karte hain.</td>
                                    <td>Вы делаете.</td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                        <tab heading="Женский род">
                            <h4>Если обращение Вы и Они обращено и к мужчинам и к женщинам, то глагол спрагяется как в
                                мужском род.</h4>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th width="15%">Местоимение перевод</th>
                                    <th width="15%">Местоимение Hindi</th>
                                    <th width="15%">Спряженная форма глагола + HOna</th>
                                    <th width="30%">Фраза целиком</th>
                                    <th width="25%">Перевод</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Я</td>
                                    <td>Main<br>[мэ]</td>
                                    <td>Karti hun<br>[карти ху]</td>
                                    <td>Main karti hun.</td>
                                    <td>Я делаю.</td>
                                </tr>
                                <tr>
                                    <td>Ты</td>
                                    <td>Tum <br> [тум]</td>
                                    <td>Karti ho <br> [карти хо]</td>
                                    <td>Tum karti ho.</td>
                                    <td>Ты (вы) делаешь / делаете.</td>

                                </tr>
                                <tr>
                                    <td>Оно / Он / Она</td>
                                    <td>Yeh / Von / Von<br>[е / во / во]</td>
                                    <td>Karti hai <br> [карти хе]</td>
                                    <td>Von karti hai.</td>
                                    <td>Оно / Он / Она делает.</td>
                                </tr>
                                <tr>
                                    <td>Мы</td>
                                    <td>Ham <br>[хам]</td>
                                    <td>Karti hain <br> [карти хэй]</td>
                                    <td>Ham karti hain.</td>
                                    <td>Мы делаем.</td>
                                </tr>
                                <tr>
                                    <td>Они</td>
                                    <td>Ye* / ve <br> [э / вэ]</td>
                                    <td>Karti hain <br> [карти хэй]</td>
                                    <td>Ve karti hain.</td>
                                    <td>Они делают.</td>
                                </tr>
                                <tr>
                                    <td>Вы <br> (уважительная форма)</td>
                                    <td>Aap <br> [ап]</td>
                                    <td>Karti hain <br> [карти хэй]</td>
                                    <td>Aap karti hain.</td>
                                    <td>Вы делаете.</td>
                                </tr>
                                </tbody>
                            </table>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="panel panel-info">
                <div class="panel-heading">Новые слова</div>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td colspan="4">Местоимения</td>
                    </tr>
                    <tr>
                        <td>मैं</td>
                        <td>Маin</td>
                        <td>[мэ]</td>
                        <td>Я</td>
                    </tr>
                    <tr>
                        <td>तू</td>
                        <td>Tum</td>
                        <td>[ту]</td>
                        <td>Ты/вы</td>
                    </tr>
                    <tr>
                        <td>वह / यह</td>
                        <td>Voh / Yeh</td>
                        <td>[во / еэ]</td>
                        <td>Он(Она) / Оно</td>
                    </tr>
                    <tr>
                        <td>हम</td>
                        <td>Ham</td>
                        <td>[хам]</td>
                        <td>Мы</td>
                    </tr>
                    <tr>
                        <td>वे / ये</td>
                        <td>Ve / Ye</td>
                        <td>[вэ / еэ]</td>
                        <td>Они / Эти</td>
                    </tr>
                    <tr>
                        <td>आप</td>
                        <td>Ap</td>
                        <td>[аап]</td>
                        <td>Вы</td>
                    </tr>
                    <tr>
                        <td colspan="4">Глаголы</td>
                    </tr>
                    <tr>
                        <td>होना</td>
                        <td>Hona</td>
                        <td>[хона]</td>
                        <td>Быть</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Karna</td>
                        <td>[карна]</td>
                        <td>Делать</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Bolna</td>
                        <td>[болна]</td>
                        <td>Говорить</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Likhna</td>
                        <td>[ликхна]</td>
                        <td>Писать</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Khana</td>
                        <td>[кхана]</td>
                        <td>Есть</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Pina</td>
                        <td>[пина]</td>
                        <td>Пить</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Jana</td>
                        <td>[жана]</td>
                        <td>Идти/уходить/гулять</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Аna</td>
                        <td>[ана]</td>
                        <td>Приходить</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Sunna</td>
                        <td>[сунна]</td>
                        <td>Слушать</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Dekhna</td>
                        <td>[декхна]</td>
                        <td>Видеть</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Parhna</td>
                        <td>[пархна]</td>
                        <td>Читать</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Sona</td>
                        <td>[сона]</td>
                        <td>Спать</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Rahna</td>
                        <td>[рахна]</td>
                        <td>Проживать, оставаться жить</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Dena</td>
                        <td>[дена]</td>
                        <td>давать</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Lena</td>
                        <td>[лена]</td>
                        <td>Брать</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Kharidna</td>
                        <td>[кхаридна]</td>
                        <td>Покупать</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Bechna</td>
                        <td>[бечна]</td>
                        <td>Продавать</td>
                    </tr>
                    <tr>
                        <td colspan="4">Слова Этикета</td>

                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Han</td>
                        <td>[ха]</td>
                        <td>Да</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Nahin</td>
                        <td>[нахи]</td>
                        <td>Нет</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Ji Han</td>
                        <td>[жи ха]</td>
                        <td>Вежливае да</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Ji Nahin</td>
                        <td>[жи нахи]</td>
                        <td>Вежливое нет</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Namaste</td>
                        <td>[намасте]</td>
                        <td>Здраствуйте, Доброе утро/вечер, Досвидания</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Dhanyavad</td>
                        <td>[дханьявад]</td>
                        <td>Спасибо (хинди)</td>
                    </tr>
                    <tr>
                        <td>करना</td>
                        <td>Shukriya</td>
                        <td>[шукрия]</td>
                        <td>Спасибо (арабское)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
